Server/groups.dtd

<!ELEMENT groups (group*)>

<!ELEMENT group (students)>
<!ATTLIST group
fakulty CDATA #REQUIRED
number CDATA #REQUIRED>
<!ELEMENT students (student*)>


<!ELEMENT student EMPTY>
<!ATTLIST student
id CDATA #REQUIRED
firstname CDATA #REQUIRED
lastname CDATA #REQUIRED
groupnumber CDATA #REQUIRED
enrolled CDATA #REQUIRED>
